<table>
    <tr>
        <th colspan="5">Minimum 6 - Maximum 10</th>
    </tr>
    <tr>
        <td>For a game of 6 players:</td>
        <td>For a game of 7 players:</td>
        <td>For a game of 8 players:</td>
        <td>For a game of 9 players:</td>
        <td>For a game of 10 players:</td>
    </tr>
    <tr>
        <td>
            <li>2 Black Hats</li>
            <li>1 DBA</li>
            <li>1 Cybersecurity Expert</li>
            <li>1 Developer</li>
            <li>1 User</li>
        </td>
        <td>
            <li>2 Black Hats</li>
            <li>1 DBA</li>
            <li>1 Cybersecurity Expert</li>
            <li>1 Developer</li>
            <li>2 User</li>
        </td>
        <td>
            <li>2 Black Hats</li>
            <li>1 DBA</li>
            <li>1 Cybersecurity Expert</li>
            <li>1 Developer</li>
            <li>1 User</li>
            <li>1 ChatGPT</li>
        </td>
        <td>
            <li>2 Black Hats</li>
            <li>1 White Hat</li>
            <li>1 DBA</li>
            <li>1 Cybersecurity Expert</li>
            <li>1 Developer</li>
            <li>1 User</li>
            <li>1 ChatGPT</li>
        </td>
        <td>
            <li>2 Black Hats</li>
            <li>1 White Hat</li>
            <li>1 DBA</li>
            <li>1 Cybersecurity Expert</li>
            <li>1 Developer</li>
            <li>3 User</li>
            <li>1 ChatGPT</li>
        </td>
    </tr>
</table>
