.section_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 110%;
    padding: 20px;
}

h1 {
    color: var(--text-color);
    font-size: 3.5rem;
}

h2, span {
    color: var(--text-color);
}

.header_content {
    height: 80vh;
    flex: 1;
    padding-left: 5.5rem;
}

.header_description_box {
    width: 50%;
}

.header_description {
    font-size: 1rem; /* Ajustez la taille de la police selon vos besoins */
    color: var(--text-color);
}


.header_box_img {
    position: relative;
    height: 100vh;
    width: 800px;
    overflow: hidden;
    border-radius: 15%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    transform: rotate(-25deg);
    margin-top: 50px;
}

.header_img {
    max-width: 100%;
    max-height: 100%;
    transform: rotate(25deg);
}

.section_concept {
    margin-top: 20vh;
}

section {
    margin: 1.5rem auto;
    width: 80%;
    text-align: center;
    padding: 2.3rem;
    border-radius: 1.5rem;
    background-color: var(--primary-color);
}

.list_goal{
    margin: auto;
    text-align: left;
    color: var(--text-color);
}

.cards {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
}

.card_hacker,
.card_user {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

figure {
    display: grid;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
    width: 20rem;
    height: 20rem;
    margin: 0.5rem;
    background: var(--green-gradient);
}

figure > * {
    grid-area: 1/1;
    transition: .4s;
}

figure img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

figure:hover img {
    transform: scale(1.1);
}

figure figcaption {
    align-items: start; /* Place at the top */
    font-family: sans-serif;
    font-weight: bold;
    padding: .95rem;
    clip-path: inset(0 var(--_i,100%) 0 0);
}

figure:hover figcaption {
    --_i: 0%;
    background: var(--green-gradient);
}

.card_title {
    font-size: 2.3rem;
}

.card_description {
    font-size: 0.8rem;
}

.header_btn {
    width: 350px;
    text-align: center;
}

#difficulty {
    margin: 10px 0;
    max-width: 250px;
    width: 100%;
    height: 10%;
    padding: 10px 0;
    font-size: 20px;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
    text-align: center; /* Centrer le texte des options */
}

button {
    margin: 20px 0;
    max-width: 350px;
    width: 100%;
    height: 10%;
    padding: 10px 4vw;
    font-size: 20px;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

  
button:hover {
    opacity: 0.9;
}

.header_welcome {
    color: var(--text-color);
    text-align: center;
}

.correct-answer {
    font-size: 25px;
    padding: 25px 10px;
    border-radius: 20px;
    background-color: green; 
}
  
.incorrect-answer {
    font-size: 25px;
    padding: 25px 10px;
    border-radius: 20px;
    background-color: red; 
}
  
@media screen and (max-width: 988px) {
    .header_box_img {
        display: none;
    }

    .section_header {
        width: 100%;
        height: 80vh;
        padding: 0px;
    }
    
    .header_content {
        padding-left: 0rem;
        text-align: center;
    }

    .header_description_box {
        text-align: center;
        width: 300px;        
        margin: auto;
    }

    .header_btn {
        text-align: center;
        margin: auto;
    }

    button {
        width: 80%;
    }

    #difficulty {
        max-width: 150px;
    }
}

@media screen and (max-width: 768px) {
    .section_header {
        flex-direction: column; /* Changer la direction à une colonne pour les écrans plus petits */
    }

    .header_content {
        width: 100%; /* Ajustez à 100% pour occuper toute la largeur */
        order: 1;

    }

    .header_box_img {
        order: 2;
    }
}

@media screen and (max-width: 600px) {
    figure figcaption {
        align-items: start;
    }
}